#contatos {
    background-color: rgb(0, 0, 68);
    width: 100%;
    height: 28vh;
    bottom: 0;
    left: 0;

    h2 {
        margin-top: 8px;
        text-align: center;
    }

    hr {
        width: 90%;
        margin-top: -10px;
    }

    .redeSociais {
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3.5vw;
        align-items: stretch;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 20px;
            background-color: white;
            padding: 2vh 1.5vw;
            width: 20%;
            min-height: 10vh;
            transition-duration: 0.8s;
            margin: 0;
            position: relative;

            img {
                margin: 0 0 0.5vh 0;
                width: 3.5vw; 
                max-width: 100%;
                height: auto;
            }

            p {
                font-size: 2vh;
                margin: 0.2vh 0 0 0;
            }
        }

        a:hover {
            transform: scale(1.05);
            transition-duration: 0.8s;
            box-shadow: 0 0 2vh rgba(255, 255, 255);
        }



            
        
        .rocket {
            display: none;
            left: 50%;
            position: fixed;
            bottom: 0;
            z-index: 9999;
            width: 15vh;
            transform: translateX(-50%);
            transition: bottom 3s ease-in-out, transform 3s ease-in-out;
        }

        .rocket.clicked {
            bottom: 100vh;
            transform: translate(-50%, -100vh) translateX(45vw) rotate(40deg);
        }


    }
}

@media (max-width: 767px) {

    #contatos {

        .redeSociais {
            gap: 0.8em;

            a {
                width: 25%;
                height: auto;
                padding: 1.5vh 0.5vw;
            }

            a p {
                font-size: 1.5vh;
                margin: 0.2vh 0 0 0;
            }

            a img {
                margin: 0;
                width: 9vw; 
            }
        }
    }

}
