#contatos {
    
    background-color: rgb(0, 0, 68);
    width: 100%;
    height: 28vh;
    bottom: 0;
    left: 0;

    h2 {
        margin-top: 8px;
    }

    hr {
        width: 90%;
        margin-top: -10px;
    }

    .redeSociais {
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3.5vw;

        a {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            background-color: white;
            padding: 0 5vw 5vh 5vw;
            width: 20%;
            height: auto;
            transition-duration: 0.8s;
            margin-top: -0.5vw;
            margin-bottom: 10px;
            position: relative;

            img {
                margin-top: 1vh;
                width: 2.5vw; 
                max-width: 100%;
                height: auto;
                margin-bottom: -2vh;
            }

            p {
                font-size: 2vh;
                margin-bottom: -1.5vh;
            }
        }

        a:hover {
            transform: scale(1.1);
            transition-duration: 0.8s;
            box-shadow: 0 0 2vh rgba(255, 255, 255);
        }



            
        
        .rocket {
            display: none;
            left: 50%;
            position: fixed;
            bottom: 0;
            z-index: 9999;
            width: 15vh;
            transform: translateX(-50%);
            transition: bottom 3s ease-in-out, transform 3s ease-in-out;
        }

        .rocket.clicked {
            bottom: 100vh;
            transform: translate(-50%, -100vh) translateX(45vw) rotate(40deg);
        }


    }
}

@media (max-width: 767px) {

    #contatos {

        .redeSociais {
            gap: 0.8em;

            a {
                width: 25%;
                height: auto;
            }

            a p {
                font-size: 1.5vh;
                margin-top: 24px;
                margin-bottom: -2vh;
            }

            a img {
                margin-top: 1vh;
                width: 9vw; 
            }
        }
    }

}
