#inicio{
    width: 100%;
    height: 79vh;
    top: 10vh;
    left: 0;
    background-color: #006494;
    display: flex;
    align-items: center;
    justify-content: center;

    .perfil{
        display: block;
        margin-right: 5em;

        .nome{
            font-size: 4em;
            margin-bottom: -10px;
        }
    
        .cargo{
            font-size: 2em;
            color: rgb(192, 192, 0);
        }
    }

    .imagem{
        width: 20em;
    }
}

@media (max-width: 767px) {

    #inicio{
        top: 14vh;
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: -21.5px;
        

        .perfil{
            width: 100%;
            .nome{
                font-size: 2em; 
                text-align: center; 
                margin-bottom: 0; 
                padding-top: 2em;
            }

            .cargo{
                font-size: 1.5em; 
                text-align: center;
            }
        }

        .imagem{
            width: 19em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
        }
    }
}