header {
    position: fixed;
    background-color: rgb(0, 0, 68);
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  
  .logo {
      margin-left: 3rem;
      max-width: 7vh; /* Ajuste o tamanho máximo da imagem conforme necessário */
      color: blue;
      border-radius: 2rem;
  }
  
  .botoesCabecalho {
      margin-left: auto;
      margin-right: 2rem;
      display: flex;
      flex-direction: row;
      gap: 5vw;
      height: 7vh;
  }

  button{
    width: 150px;
  }
  

  @media (max-width: 700px) {

    header {
        height: auto; /* Ajusta a altura automaticamente com base no conteúdo */
        padding: 10px; /* Adiciona espaço interno para os botões */
        flex-direction: column; /* Altera a direção da flexão para uma coluna */
        align-items: center; /* Alinha os itens à esquerda */
      }
    
      .logo {
        height: 5vh;
        margin-top: 25px;
        margin-bottom: -30px;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 0;
      }
    
      .botoesCabecalho {
        align-items: center;
        margin-left: -4px; /* Remove a margem esquerda dos botões */
        gap: 0.2em; /* Reduza o espaçamento entre os botões */
        width: 97%; /* Define a largura total para os botões */
        margin-bottom: 7px;
      }

      .botoesCabecalho:last-child{
        margin-right: 25px;
      }

  }