#projetos{
    background-color: #006494;
    width: 100%;
    height: 95vh;
    bottom: 0;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

    h2{
        padding-top: 3vh;
        font-size: 4vh;
    }

    hr{
      margin-top: -2vh;
      width: 45%;
    }

    .conteudo{
      margin-top: -1%;
      width: 100%;
      height: 80vh;
      margin: flex;
      flex: wrap;
      flex-direction: row;
    }
}


@media (max-width: 767px) {

    #projetos{
      height: 88vh; 
      margin-top: -26px; 
  
        h2 {
          font-size: 1.8rem; 
          padding-top: 1em; 
          margin-bottom: -10px;
        }
    
        hr {
          width: 70%; 
        }
    
        .bloco {
          flex-direction: column; 
          align-items: center; 
          text-align: center; 
        }
    }
  }
  