.sobre{
    
    background-color: rgb(0, 0, 68);
    width: 100%;
    height: 60vh;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -20px;

    h2{
        padding-top: 2em;
    }

    hr{
        width: 45%;
    }

    .bloco{
        display: flex;

        .minhaFoto{
            margin-left: 27%;
            margin-right: 5em;
            width: 22em;
            border-radius: 2em;
        }

        .blocoTexto{
            display: block;
            width: 26vw;
            
            p{
                margin-top: 2rem;
                text-align: justify;
                line-height: 2em;

                // Primeira palavra em verde
                .strong-green {
                    color: rgb(8, 92, 0);
                }
                
                // Segunda palavra em azul piscina claro
                .strong-light-blue {
                    color: rgb(135, 206, 235);
                }
                
                // Terceira palavra em roxo escuro
                .strong-dark-purple {
                    color: rgb(146, 45, 218);
                }  
            }
        }
    }
}

@media (max-width: 700px) {

    .sobre {
      height: 75vh; /* Diminuir a altura */
      margin-top: -26px; /* Ajustar a margem superior */
      padding-left: 1.22em;
  
      h2 {
        font-size: 1.8em; /* Diminuir o tamanho da fonte do h2 */
        padding-top: 1em; /* Ajustar o espaçamento superior */
        margin-bottom: -10px;
      }
  
      hr {
        width: 60%; /* Ajustar a largura da linha */
      }
  
      .bloco {
        flex-direction: column; /* Mudar para layout de coluna */
        align-items: center; /* Centralizar itens */
        text-align: center; /* Centralizar texto */
  
        .minhaFoto {
          width: 10em; /* Diminuir o tamanho da imagem */
          margin: 0; /* Remover margens laterais */
          margin-bottom: -2em; /* Adicionar margem inferior */
        }
  
        .blocoTexto {
          width: 80%; /* Ajustar a largura do bloco de texto */
  
          p {
            font-size: 0.9em; /* Diminuir o tamanho da fonte do parágrafo */
            line-height: 1.5em; /* Ajustar o espaçamento entre linhas */
          }
        }
      }
    }
  }
  