#sobre{
    
    background-color: rgb(0, 0, 68);
    width: 100%;
    height: 75vh;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -22.5px;

    h2{
        padding-top: 3vh;
        font-size: 4vh;
    }

    hr{
      margin-top: -2vh;
        width: 45%;
    }

    .bloco{
        display: flex;

        .minhaFoto{
            margin-left: 18%;
            margin-right: 6.5em;
            width: 20vw;
            height: 45vh;
            border-radius: 2em;
        }

        .info{
            margin-top: -4vh;
            display: block;
            width: 35vw;

            h3{
              font-size: 4vh;
            }
            
            p{
                margin-top: 2rem;
                text-align: justify;
                line-height: 2em;
                font-size: 2vh;
                
                .strong-green {
                    color: rgb(20, 212, 3);
                }
                
                .strong-light-blue {
                    color: rgb(135, 206, 235);
                }
                
                .strong-dark-purple {
                    color: rgb(169, 58, 248);
                }  
            }

            
            .linguagensTitulo{
              margin: 0 0 2vh 30%;
              font-size: 1.4em;
              font-weight: bolder;
              color: green;
              
            }
            .linguagens{
              background-color: rgb(255, 255, 255);
              border-radius: 8px;
              padding-top: 20px;
              margin-left: -11%;
              width: 100%;
              height: 6vh;
              display: flex;
              align-items: center;
              place-content: center;
              gap: 5px;

              img{
                -webkit-text-stroke: 25px rgb(199, 0, 0);
                margin-top: -10px;
                width: 3.8vw;
                height: 8vh;
              }
            }
        }
    }
}

@media (max-width: 700px) {

    #sobre {
      height: 88vh; 
      margin-top: -26px; 
  
        h2 {
          font-size: 1.8rem; 
          padding-top: 1em; 
          margin-bottom: -10px;
        }
    
        hr {
          width: 60%; 
        }
    
        .bloco {
          flex-direction: column; 
          align-items: center; 
          text-align: center; 
    
          .minhaFoto {
            width: 10em; 
            height: 11em;
          }
    
          .info {
            width: 80%;

              h3{
                margin-top: 45px;
                font-size: 1.5rem;
              }
    
              p {
                font-size: 0.9em; 
                line-height: 1.5em; 
              }


              .linguagensTitulo{
                font-size: 1.5em;
                margin-left: 20px;
                font-weight: bolder;
                color: green;
                
              }
              .linguagens{
                background-color: rgb(255, 255, 255);
                border-radius: 8px;
                padding-top: 20px;
                margin-left: -20px;
                height: 4vh;
                display: flex;
                align-items: center;
                place-content: center;
                gap: 4px;
  
                img{
                  -webkit-text-stroke: 25px rgb(199, 0, 0);
                  margin-top: -10px;
                  width: 8vw;
                  height: 4.8vh;
                  border: 0.5px solid black;
                  border-radius: 5px;
                }
              }  
          }

          .linguagens{
            transform: translate(-4%);

            
          }
        }
    }
  }
  